<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>119354121565-uiqqgi7v8ueo1g7g0oljiu6fqa9n72si.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.119354121565-uiqqgi7v8ueo1g7g0oljiu6fqa9n72si</string>
	<key>API_KEY</key>
	<string>AIzaSyAfwwMsJ3lTMgQvBvG7wfJ6kt8wZ4Kt5Gg</string>
	<key>GCM_SENDER_ID</key>
	<string>119354121565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.guftagu.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>guftagu-82262</string>
	<key>STORAGE_BUCKET</key>
	<string>guftagu-82262.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119354121565:ios:1313fc0eecd90e9095dcb4</string>
</dict>
</plist>